Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.39
Flask-Migrate==4.1.0
python-dotenv==1.0.1
psycopg2==2.9.10
psycopg[binary]
marshmallow==3.26.1
flask-marshmallow==1.3.0
marshmallow-sqlalchemy==1.1.0
Flask-Caching==2.3.1
redis==6.1.0
gevent==24.10.3 
gunicorn==23.0.0